.storefront__title {
  font-size: Max(2.188rem, 24px);
  font-weight: 600;
  letter-spacing: -0.16px;
  line-height: 125%;
  color: #1f2022;
  margin-bottom: 0.25rem;
}
.storefront__description {
  font-size: Max(1.5rem, 18px);
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 130%;
  color: #626469;
  margin-bottom: 1.5rem;
}
.storefront__product h3 {
  font-size: Max(1.25rem, 16px);
  line-height: 140%;
  letter-spacing: -0.08px;
  font-weight: 600;
  color: #1f2022;
  margin: 4.5rem 0 2rem 0;
}
.storefront__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
  place-items: center;
}
.storefront__card {
  width: Min(320px, 100%);
  height: auto;
  margin-bottom: 1.5rem;
}
.image__container {
  width: 100%;
  height: 340px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  background-color: #f0eff4;
}
.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storefront__card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
.product__title {
  font-size: Max(1rem, 16px);
  line-height: 150%;
  font-weight: 600;
  color: #1c2024;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product__price {
  font-size: Max(13px, 0.813rem);
  line-height: 125%;
  font-weight: 600;
  color: #1c2024;
}
.storefront__card button {
  width: 100%;
  background-color: #3e63dd;
  width: 100%;
  height: Max(40px, 2.5rem);
  border-radius: 6px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
  margin-top: 1rem;
}
